/*
Full CSS Reset

http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Box model reset
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Font declaration
  ========================================
*/

@font-face {
    font-family: flama-light;
    src: url(../fonts/flama-light-regular.otf);
}




/*
  ========================================
  Grid
  ========================================
*/

.bgc {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#06b, #03c);
    background:      -o-radial-gradient(#06b, #03c);
    background:    -moz-radial-gradient(#06b, #03c);
    background:         radial-gradient(#06b, #03c);
}

.container {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 1.3em solid #fff;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;

    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/*
  ========================================
  General
  ========================================
*/




/*
  ========================================
  Typography
  ========================================
*/

.title {
    position: relative;
    margin: auto;
    padding: 0 0 1em 0;
    width: 22.5em;
    font: 1.8em flama-light;
    letter-spacing: 0.05em;
    color: #fff;
}

.typewrite-box {
    position: relative;
    margin: auto;
    padding: 0.4em 0.3em;
    border: 2px solid #fff;
    width: 40.5em;
    margin-bottom: 4em;
}

.typewrite {
    position: relative;
    font: 1.8em flama-light;
    letter-spacing: 0.05em;
    color: #fff;
    width: auto;
}



/*
  ========================================
  Directory
  ========================================
*/

.wrapper {
    position: relative;
    width: 400px;
    height: 70px;
}

.paper {
    border-bottom: 70px solid #fff;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
    border-top: 15px solid transparent;
	height: 0;
	width: 400px;
    transform: -webkit-rotate(-5deg); /* Safari and Chrome */
    transform:     -ms-rotate(-5deg); /* IE 9 */
    transform:         rotate(-5deg);
    
}
/* Safari and Chrome */
  cursor:pointer;
     p {
      position:absolute;
      top:10px;
      z-index:10;
      transform: rotate(5deg);
      -ms-transform: rotate(5deg); /* IE 9 */
      -webkit-transform: rotate(5deg); /* Safari and Chrome */
      font-family:arial, san-serif;
      font-weight:bold;
      font-size:30px;
      color:#fff;
      left:30%;
  }
  &:hover {
    border-bottom: 100px solid darken(tomato,6%);
    &:after {
      	border-bottom: 100px solid darken(tomato,6%);
    }
      
  }
}

.paper:after {
  content: "";
	border-bottom: 100px solid tomato;
	border-left: 30px solid transparent;
	border-right:42px solid transparent;
  border-top:20px solid transparent;
	height: 0;
	width: 198px;
  display: block;
  left:0;
  margin-left:-25px;
  margin-top:-8px;
  transform: rotate(5deg);
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari and Chrome */

}
	


.paper1 {
    font: 1.8em flama-light;
    letter-spacing: 0.05em;
    color: #03c;
    
}






/*
  ========================================
  Media Queries
  ========================================
*/

@media all and (max-width: 980px) {  
    
}

@media all and (max-width: 649px) {
    
    .title {
        position: relative;
        font: 1.8em flama-light;
        letter-spacing: 0.05em;
        color: #fff;
        width: auto;
        margin: auto;
    }
    
    
    .typewrite-box {
        position: relative;
        margin: auto;
        padding: 0.4em 0.3em;
        border: 2px solid #fff;
        width: auto;
        margin-bottom: 4em;
    }

    .typewrite {
        position: relative;
        font: 1.8em flama-light;
        letter-spacing: 0.05em;
        color: #fff;
        width: auto;
    }
}

@media all and (max-height: 300px) {

}
}

